- if not defined?(code).nil?
	script src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"

	javascript:
		PagSeguroLightbox({
     code: "#{code}" 
     }, {
					success : function(transactionCode) {
            var url="#{ payment_success_pagseguro_url(order.id) }/?transactionCode=" + transactionCode
            
          	location.href=url
       		},
       		abort : function() {
          	location.href="#{ payment_cancel_pagseguro_url(order.id) }"
       		}
     });