- if not defined?(code).nil?
	script src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"

	javascript:
		PagSeguroLightbox({
     code: "#{code}" 
     }, {
					success : function(transactionCode) {
          	location.href="#{ payment_success_pagseguro_url(order.id) }"
       		},
       		abort : function() {
          	location.href="#{ payment_cancel_pagseguro_path(order.id) }"
       		}
     });